img{
    border-radius: 20%;
    weidth:1000px;
    height:500px;
}

.image-box {
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    color:floralwhite;
    background-color:black;
}

.cane{
    font-size: 10pt;
    display: flex;
    justify-content: center;
    color:floralwhite;
    background-color:black;
}


body{
    background-color:white;

}